:root {
    --dark: rgb(34, 40, 49);
    --lightdark: rgb(57, 62, 70);
    --light: rgb(255, 211, 105);
    --white: rgb(238, 238, 238);
    background-color: var(--lightdark);
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white);
}

/*HEADER*/

header {
    background-color: var(--dark);
    width: 100vw;
    height: 100px;
    margin-bottom: 50px;
    box-shadow: 0 0 5px black;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 40px;
    padding-left: 20vw;

}

/*CONTENT*/

main {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-rows: 200px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.card {
    height: 100%;
    background-color: var(--dark);
    display: grid;
    align-items: center;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}

.card>div {
    margin-left: 20px;
    box-shadow: 0;
    border: none;
}

div.notreaded {
    background-color: red;
    margin: 0px;
    justify-self: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    transition: 300ms;
    cursor: pointer;

}

div.notreaded:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

div.readed {
    background-color: green;
    margin: 0px;
    justify-self: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    transition: 300ms;
    cursor: pointer;
}

div.readed:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.title {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.close {
    margin-right: 10px;
    cursor: pointer;
}

/*BUTTON*/

.add {
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    display: grid;
    align-items: center;
    box-shadow: 0 0 5px black;
    border: none;
    color: var(--white);
    font-size: 4rem;
    cursor: pointer;
    transition: 500ms;
    border-radius: 10px;
}

.add:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

/*MODAL*/

.popup {
    box-shadow: 0 0 5px rgb(255, 255, 255);
    position: fixed;
    width: 360px;
    height: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 20px;
    background-color: var(--dark);
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);

}

input {
    width: 352px;
}

#readed {
    width: auto;
}

form>div {
    height: 20%;
    width: 100%;
    border: none;
    box-shadow: none;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: none;
    border: none;
    width: 100%;
    height: 100%;
    gap: 5px;
}

.x {
    align-self: end;
}

#checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.x,
.submit {
    width: 50px;
    height: 50px;
    font-size: 28px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.submit {
    border-radius: 20px;
    width: 100px;
    background-color: var(--lightdark);
    box-shadow: 0 0 5px rgb(255, 255, 255);
    transition: 300ms;
}

.submit:hover {
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

.popup {
    grid-column: 2 / 3;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}