:root {
    --dark: rgb(34, 40, 49);
    --lightdark: rgb(57, 62, 70);
    --light: rgb(255, 211, 105);
    --white: rgb(238, 238, 238);
    background-color: var(--lightdark);
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white);
}

/*HEADER*/

header {
    background-color: var(--dark);
    width: 100vw;
    height: 100px;
    margin-bottom: 50px;
    box-shadow: 0 0 5px black;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 40px;
    padding-left: 20vw;

}

/*CONTENT*/

main {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 200px 200px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

div {
    height: 100%;
    background-color: var(--dark);
    display: grid;
    align-items: center;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}

p {
    margin-left: 20px;
}

.title {
    font-weight: 700;
}

/*BUTTON*/

.add {
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    display: grid;
    align-items: center;
    box-shadow: 0 0 5px black;
    border: none;
    color: var(--white);
    font-size: 4rem;
    cursor: pointer;
    transition: 500ms;
    border-radius: 10px;
}

.add:hover {
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

/*MODAL*/

.popup {
    box-shadow: 0 0 5px rgb(255, 255, 255);
    position: fixed;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    z-index: 10;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);

}

.x {
    width: 50px;
    height: 50px;
    margin: 20px;
    font-size: 28px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}